:root {
   
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
 
html {
 
    width: 100%;
    height: 100%;
 
}
 
body{
   
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.header-response {

    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}
 
header {
    
    width: 1366px;
    margin: 0 auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    background-color: rgba(42, 42, 42, 1);
    padding: 0;
    height: 10rem;
}
 
.header-response {

    background-color: rgba(42, 42, 42, 1);
}
 
.logo-picture {
   
    margin-top: 0;
    margin-left:7rem;
    width: 20rem;
    text-align: center;
    height: 7rem;
    padding-bottom: 20px;        
 
}
 
.logo-picture img {
 
    margin-top: 0;
    width: 164px;
    height: 72px;
 
}
 
.buttons {
   
    margin-left: 55rem;
    width: 50rem;
    height: 6rem;
    text-decoration: none;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 
.buttons ul {
 
    display: flex;
    gap: 2rem;
    list-style: none;
    color: rgba(254, 208, 1, 1);
}
 
.buttons ul li {
 
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid rgba(254, 208, 1, 1);
    cursor: pointer;
    height: 16px;
    width: 10rem;
}
 
.buttons ul li:hover {
 
    transition: 0.2s;
    padding: 10px 10px;
 
}
 
.buttons a {
 
    text-decoration: none;
    color: rgba(254, 208, 1, 1);
}
 

.content-responser {
    
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 109, 0.658);
    
}

section {
 
    width: 1266px;
    height: 530px;
    background-image: url(./Imagens/HeroImage.png);
    background-repeat: no-repeat;
    background-position: calc(68rem);
    background-size: contain;
    margin: 0 auto;
   
}

div.content {
 
    margin: 12rem 0 0 15rem;
    width: 40rem;
    height: 28rem;
    position: absolute;
}
 
p.content-paragraph {
 
    font-size: 5rem;
    justify-content: left;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    line-height: 7rem;
    margin: 0;
    
}
 
.content-button {
 
    width: 10rem;
    height: 1.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    text-align: center;
    padding: 11px;    
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color: rgba(254, 208, 1, 1);
   
}
   
.content-button a {
 
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
 
.content-button:hover {
 
    transition: 0.2s;
    padding: 12px 15px;
 
}

.catalog-response {

    border: 2px solid black;
    height: 100%;

}

.catalog {

    display: flex;
    width: 100%;
    margin-left: 0;
    height: 55%;
    margin: 0 auto;
    border: 2px solid black;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.content-catalog-first {

   text-align: center;
   margin: 0;
   justify-content: center;
   width: 20%;
   height: 100%;
   border: 2px solid black;
   align-items: center;
   border-radius: 10px;
}

.content-catalog-first h2 {

   width: 100%;
   text-align: center;
   justify-content: center;
   margin-top: 20px;
   font-size: 15px;
}

.content-catalog-first img {

    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}


.content-catalog-first ul {

    list-style: none;  
    height: 80%;
    margin: 0;
    padding: 0;
  
  }

  .content-catalog-first ul li{

    list-style: none;  
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    width: 80%;
    justify-content: center;
  
  }

  .content-catalog-first ul .first-title-li {

    margin-bottom: 13px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

  }

.content-catalog-second {

   text-align: center;
   margin: 0;
   justify-content: center;
   width: 20%;
   height: 100%;
   border: 2px solid black;
   align-items: center;
   border-radius: 10px;
}


.content-catalog-second h2 {

    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
 }

.content-catalog-second img {

    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}


.content-catalog-second ul {

    list-style: none;  
    height: 80%;
    margin: 0;
    padding: 0;
  
  }

  .content-catalog-second ul li{

    list-style: none;  
    margin: 0;
    padding: 0;
    font-size: 15px;
    
  }

  .content-catalog-second ul .second-title-li {

    margin-bottom: 13px;
    font-size: 19px;

  }

.content-catalog-third {

    text-align: center;
    margin: 0;
    justify-content: center;
    width: 20%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

.content-catalog-third h2 {

    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
 }

.content-catalog-third img {

    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.content-catalog-third ul {

  list-style: none;  
  height: 80%;
  margin: 0;
  padding: 0;
  font-size: 15px;

}

.content-catalog-third ul .third-title-li {

    margin-bottom: 13px;
    font-size: 19px;

  }

